/* navigation bar styling */
li.nav-item {
  margin-left: 25px;
}
nav.navbar {
  border-bottom: solid;
  border-color: #f7f7f7;
}
ul.navbar-nav {
  margin-right: 25px;
}

a.navbar-brand {
  margin-left: 130px;
}
li.nav-item:hover {
  border-radius: 20px;
  background-color: #f7f7f7;
  color: black;
}
/* division1 styling */
.division1 {
  position: relative;
  height: 700px;
  display: block;
  border-bottom: solid;
  border-color: #f7f7f7;
}
div.content-link h1.underline-content {
  font-size: 20px;
  text-decoration: underline;
  color: black;
  font-family: "Montserrat", sans-serif;
}
div.content-link .amount {
  font-size: 100px;
  text-decoration: none;
}
.division1 h1 {
  font-family: "Montserrat", sans-serif;
  width: 500px;
  margin-top: 5px;
}
.img-sec img {
  height: 600px;
  width: 400px;
  position: absolute;
  right: 100px;
  top: 50px;
  border-radius: 10px;
}
.division1-left-container {
  /* height: 500px; */
  display: inline-block;
  position: absolute;
  top: 50px;
  left: 150px;
  text-align: center;
}
h1.amount-content {
  font-style: none;
  font-size: 20px;
}
h1.amount-content u {
  font-style: solid;
  font-size: 25px;
}
div input {
  width: 400px;
  height: 5px;
  background-color: black;
}
.range-ele {
  margin: 20px 0px;
}
.highlight {
  margin-top: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #073d6b;
}
/* division2 styling */
.division2 {
  height: 500px;
  background-color: #f7f7f7;
  border-bottom: solid;
  border-color: #f7f7f7;
  font-family: "Montserrat", sans-serif;
}
div.flex-container {
  display: flex;
  margin-top: 30px;
  margin-left: 40px;
}
div.step1 {
  height: 400px;
  width: 30%;
  margin-left: 30px;
  font-size: large;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 10px;
}
div.step2 {
  height: 400px;
  width: 30%;
  margin-left: 30px;
  font-size: large;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 10px;
}
div.step3 {
  height: 400px;
  width: 30%;
  margin-left: 30px;
  font-size: large;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 10px;
}
.division2 .heading {
  text-align: center;
}
/* division3 styling */
.division3 {
  height: 500px;
  position: relative;
  border-bottom: solid;
  border-color: #f7f7f7;
  /* display: flex; */
}
div.question {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 50px;
  left: 100px;
}
div.question h1 {
  display: inline-block;
}
div.question-and-answers {
  width: 700px;
  position: absolute;
  right: 100px;
  top: 50px;
  font-family: "Montserrat", sans-serif;
  /* position: relative; */
}
.question-and-answers img {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 10px;
}
/* fotter styling */
fotter div {
  height: 300px;
  background-color: #f7f7f7;
}
.division4-sections {
  display: flex;
}
.division4-sec {
  height: 250px;
  width: 20%;
  margin-left: 40px;
  margin-right: 40px;
}
